<div class="row">
	<div class="col-12" style="border: 1px black solid">
		<nav class="navbar navbar-expand-lg navbar-light bg-light">
		  <a class="navbar-brand" href="/home">Home</a>
		  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
		    <span class="navbar-toggler-icon"></span>
		  </button>
		  <div class="collapse navbar-collapse" id="navbarNav">
		    <ul class="navbar-nav">
		      <li class="nav-item">
		        <a class="nav-link" href="/bar">Barra</a>
		      </li>
		      <li class="nav-item">
		        <a class="nav-link" href="/line">Linea</a>
		      </li>
		      <li class="nav-item">
		        <a class="nav-link" href="/pie">Torta</a>
		      </li>
		      <li class="nav-item">
		        <a class="nav-link" href="/radar">Radar</a>
		      </li>
		      <li class="nav-item">
		        <a class="nav-link" href="/polarArea">Area polar</a>
		      </li>
		      <li class="nav-item">
		        <a class="nav-link" href="/doughnut">Dona</a>
		      </li>
		      <li class="nav-item">
		        <a class="nav-link" href="/horizontalBar">Barra horizontal</a>
		      </li>
		      <li class="nav-item">
		        <a class="nav-link" href="/grouped">Gropo de barra</a>
		      </li>
		      <li class="nav-item">
		        <a class="nav-link" href="/mixed">Mixto</a>
		      </li>
		      <li class="nav-item">
		        <a class="nav-link" href="/bubble">Burbuja</a>
		      </li>
		    </ul>
		  </div>
		</nav>
	</div>
</div>